.App {
  background-color: #112b6b;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  overflow-y: hidden;
  justify-content: center;
}

.table-wrapper {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 700px;
  justify-content: space-between;
  width: 80vw;

  height: 100%;
}

.table-layout-wrapper {
  width: 100%;
  height: 90%;

  overflow-y: scroll;
}
.popup {
  position: fixed;
  width: 400px;
  height: 530px;
  top: 0;
  right: 0;
  border-radius: 4px;
  left: 0;

  margin: auto;
  z-index: 3;
  padding: 3vh 0vw;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.346);
}
.create-user-button {
  width: 80%;
}
.form-open-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}
.main-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  height: 100%;
  gap: 10px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
h3 {
  margin: 0;
}
